@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Books>
<!--Header-->
<header class="card-header text-center">
    <h1>@ViewData["Title"]</h1>
</header>
<br />
<br />


<!--Book Table
//center table on page-->
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table-striped table-sm table-bordered">

            <!--table header-->
            <thead class="table-dark">
                <tr class="text-center">
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                <!--Create row for each book-->
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Title</td>
                        <td>@x.AuthorFirstName @x.AuthorLastName</td>
                        <td>@x.Publisher</td>
                        <td>@x.ISBN</td>
                        <td>@x.Classification</td>
                        <td>@x.Category</td>
                        <td>@x.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

